

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-light {
  font-weight: 300;
}

.text-lighter {
  font-weight: lighter;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}