<mat-toolbar class="justify-between" color="primary">
  <button mat-icon-button class="example-icon" (click)="sideNavClick.emit()">
      <mat-icon>menu</mat-icon>
  </button>

  <div>Move Motivator</div>

  <button mat-button [matMenuTriggerFor]="userMenu">
      <span *ngIf="user">{{ user.username }}</span>
      <mat-icon class="pl-1">person</mat-icon>
  </button>
  
</mat-toolbar>

<mat-menu #userMenu>
  <button mat-menu-item (click)="logout()">
      {{ "MENU.LOGOUT" | translate }}
  </button>
</mat-menu>