<article class="page-height">
  <div class="background">
    <div class="credits">
      Art by
      <a href="https://www.artstation.com/leefitzgerald">Lee Fitzgerald</a>
    </div>
  </div>

  <div class="form-container p-4 dark-theme">
    <ng-container *ngIf="type === 'login'; else signUp">
      <form class="d-flex flex-column gap-2 my-2" [formGroup]="loginForm" (ngSubmit)="connect()">
        <mat-form-field class="flex-1">
          <input matInput type="email" formControlName="email" [placeholder]="'COMMON.MAIL' | translate">
        </mat-form-field>

        <mat-form-field class="flex-1">
          <input matInput type="password" formControlName="password" [placeholder]="'LOGIN.PASSWORD' | translate" (keyup.enter)="connect()">
        </mat-form-field>

        <mat-checkbox class="flex-1" formControlName="stayConnected">
          {{'LOGIN.KEEP_CONNECTION' | translate}}
        </mat-checkbox>

        <div class="text-right">
          <a (click)="switchPage('signup')">{{ 'LOGIN.NO_ACCOUNT' | translate }}</a>
        </div>

        <button mat-raised-button class="flex-1" type="submit" color="primary" [disabled]="loginForm.invalid">
          {{ 'LOGIN.LOGIN' | translate }}
        </button>

      </form>

      <mat-divider></mat-divider>

      <div class="d-flex my-2">
        <button mat-raised-button color="link" (click)="googleAuth()">
          <img src="assets/img/logo/google.png" class="logo-button pr-2">
          Google
        </button>
      </div>

      <div class="d-flex">
        <button mat-button color="accent" (click)="forgetPassword()" class="flex-1">
          {{ 'FORGET_PASSWORD.TITLE' | translate }}
        </button>
      </div>
    </ng-container>

    <ng-template #signUp>
      <form class="d-flex flex-column gap-2 my-2" [formGroup]="signUpForm" (ngSubmit)="createAccount()">
        <mat-form-field>
          <input matInput type="email" formControlName="email" [placeholder]="'COMMON.MAIL' | translate">
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="text" formControlName="username" [placeholder]="'COMMON.USERNAME' | translate">
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" formControlName="password" [placeholder]="'LOGIN.PASSWORD' | translate" [matTooltip]="'SIGNUP.PASSWORD_LENGTH' | translate">
          <mat-error *ngIf="signUpForm.get('password')?.errors">
            {{ 'SIGNUP.PASSWORD_LENGTH' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" formControlName="confirmPassword" [placeholder]="'SIGNUP.CONFIRM_PASSWORD' | translate"
            [errorStateMatcher]="passwordErrorMatcher">
          <mat-error *ngIf="signUpForm.hasError('passwordDontMatch')">
            {{ 'SIGNUP.PASSWORD_DONT_MATCH' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="text-right">
          <a (click)="switchPage('login')">{{ 'SIGNUP.HAVE_ACCOUNT' | translate }}</a>
        </div>

        <button class="full-width-input" mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
          {{ 'SIGNUP.SIGNUP' | translate }}
        </button>
      </form>
    </ng-template>
  </div>
</article>