.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url('./../../../assets/img/background.jpg');
  background-size: cover;
  z-index: -1;

  .credits {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    padding: 6px 12px;
  
    &, &>a {
      color: white;
    }
  }
}

.form-container {
  width: 80%;
  margin: 0 auto;
  background: rgba(0,0,0,.4);
  color: white;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 70%) 0px 0px 4px;
}

a {
  cursor: pointer;
}

.logo-button {
  width: 24px;
}