<div class="p-3">
  <div class="h2 mb-3 pl-6">Objectif Mensuel</div>

  <div class="px-6">
    <div class="progress-bar" [matTooltip]="getDistanceTooltip()">
      <div class="progress primary-background" [style.width.%]="progressPercent">{{ progressPercent | number:'1.0-0' }}%</div>
    </div>

    <div class="py-1 pl-2 d-flex align-end">
      <ng-container *ngIf="monthlyGoal > currentDistance; else completed">
        Objectif: {{ currentDistance | kilometer }}km / {{ monthlyGoal | kilometer }} km
      </ng-container>
      <ng-template #completed>
        <mat-icon class="mr-1">check</mat-icon>
        Objectif atteint
      </ng-template>
    </div>
  </div>
</div>